@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* Extra small devices (phones, less than 768px) */
@media (min-width: 0px) {
    #typed-cursor {
        font-size: 24px;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (min-width: 480px) {
    #typed-cursor {
        font-size: 24px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and {
    #typed-cursor {
        font-size: 24px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #typed-cursor {
        font-size: 24px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #typed-cursor {
        font-size: 26px;
    }
}